<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>

<div class="container">
  
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="./assets/images/imgpro1.jpg" target="_blank">
          <img src="./assets/images/imgpro1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Organic rice</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="./assets/images/imgpro2.jpg" target="_blank">
          <img src="./assets/images/imgpro2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Organic Brown basmathi rice</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="./assets/images/imgpro3.jpg" target="_blank">
          <img src="./assets/images/imgpro3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Organic Idli rice</p>
          </div>
         </a>    
            
      </div>
    </div>
  </div>
</div>
<div class="container">
    
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/imgpr4.jpg" target="_blank">
            <img src="./assets/images/imgpr4.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Organic Poha</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/imgpro5.jpg" target="_blank">
            <img src="./assets/images/imgpro5.jpg" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Organic Sugar & Jaggery</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/imgpro6.png" target="_blank">
            <img src="./assets/images/imgpro6.png" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Organic Whole Spices</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/imgpro7.png" target="_blank">
            <img src="./assets/images/imgpro7.png" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Organic Masala Blends</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/imgpro8.png" target="_blank">
            <img src="./assets/images/imgpro8.png" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Organic Super Foods & Health Foods</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/imgpro9.jpg" target="_blank">
            <img src="./assets/images/imgpro9.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Organic Tea & CoffeeOrganic 
            </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/imgpro10.png" target="_blank">
            <img src="./assets/images/imgpro10.png" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Oils, Honey & Pastes</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/imgpro11.png" target="_blank">
            <img src="./assets/images/imgpro11.png" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Organic Ground Spices</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/imgpro12.png" target="_blank">
            <img src="./assets/images/imgpro12.png" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Organic Dry Fruits</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>



