<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>

<div class="container">
  <h2>Try our Scrumptious and Healthy Recipes</h2>
  <p>curated especially for you</p>
  
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="./assets/images/org1.jpg" target="_blank">
          <img src="./assets/images/org1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Vegetable Wheat Dalia</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="./assets/images/org2.jpg" target="_blank">
          <img src="./assets/images/org2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Crispy Urad Dal Vada</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="./assets/images/org3.jpg" target="_blank">
          <img src="./assets/images/org3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Flaxseed Pudding</p>
          </div>
         </a>    
            
      </div>
    </div>
  </div>
</div>
<div class="container">
    
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/org4.jpg" target="_blank">
            <img src="./assets/images/org4.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Homemade Kanda Poha</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/org5.jpg" target="_blank">
            <img src="./assets/images/org5.jpg" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Red Velvet Cupcakes</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/org6.jpg" target="_blank">
            <img src="./assets/images/org6.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Homemade Moong Dal Tadka</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/org7.jpg" target="_blank">
            <img src="./assets/images/org7.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Rose Kheer</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/org8.jpg" target="_blank">
            <img src="./assets/images/org8.jpg" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Homemade Chickpea Masala</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/org9.jpg" target="_blank">
            <img src="./assets/images/org9.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Masoor Dal Khichdi</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/org10.jpg" target="_blank">
            <img src="./assets/images/org10.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Beetroot Pizza</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/org11.jpg" target="_blank">
            <img src="./assets/images/org11.jpg" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Buckwheat Pancakes</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/org12.jpg" target="_blank">
            <img src="./assets/images/org12.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Oats Jaggery Cookie</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/org13.jpg" target="_blank">
            <img src="./assets/images/org13.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Dry Fruit Protein Bar</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/org14.jpg" target="_blank">
            <img src="./assets/images/org14.jpg" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Ragi Malt</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/org15.jpg" target="_blank">
            <img src="./assets/images/org15.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Rice Kheer</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container">
    
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/org17.jpg" target="_blank">
            <img src="./assets/images/org17.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Honey Muffins</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/org18.jpg" target="_blank">
            <img src="./assets/images/org18.jpg" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Biryani</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="./assets/images/org19.jpg" target="_blank">
            <img src="./assets/images/org19.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Falafel with Hummus</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</body>
</html>


